
.yap-theme-primary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}
.yap-theme-secundary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}



.material-tile-left .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}

.yap-toolbar {
    width: 100%;
    height: 64px;
    font-size: inherit;
    font-weight: normal;
    padding: 16px 16px 90px 80px;
    margin: 0;
}

.yap-page-title {
    padding-left: 15px;
}

.angular-google-map-container { height: 400px; }