
.yap-theme-primary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}
.yap-theme-secundary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}


.angular-google-map-container {
    height: 400px;
}