body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.yap-theme-primary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}
.yap-theme-secundary {
    background-color: #00BCD4 !important;
    color: #f1f1f1 !important;
}

i {

}

.angular-google-map-container {
    height: 400px;
}